<h1><%= @wiki.title %></h1>
<h4>Published by <%= @wiki.user.username %></h4>
<br>
<<<<<<< HEAD
<%= @wiki.body %>

<hr>

<% if user_signed_in? && @wiki.user == current_user %>

<h1>Add Collaborators</h1>

<%= render template: 'wiki_collaborations/add_or_remove', locals: { wiki: @wiki } %>

<% end %>
=======
<%= markdown @wiki.body %>
>>>>>>> markdown-live
