<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "https://js.stripe.com/v2/", "application" %>
  <%= csrf_meta_tags %>
  <%= tag :meta, name: "stripe-key", content: STRIPE_PUBLIC_KEY %>
  <%= tag :meta, name: "viewport", content: "width=device-width, initial-scale=1.0" %>
</head>
<body>

  <div class="container">

    <div class="navbar">
      <ul class="nav navbar-nav nav-pills main-nav">
        <li><%= link_to "Blocipedia", root_path %></li>
        <li><%= link_to "Wikis", wikis_path %></li>
      </ul>
      <%= form_tag wikis_path, method: :get, class: 'navbar-form navbar-left', role: 'search' do %>
        <div class="form-group">
          <%= text_field_tag :query, params[:query], placeholder: 'Search', class: 'form-control' %>
        </div>
        <%= submit_tag 'Search', class: 'btn btn-default', title: nil %>
      <% end %>
      <ul class="nav navbar-nav nav-pills navbar-right">
        <% if current_user %>
          <li><%= link_to "Create Wiki", new_wiki_path %></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            My account
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "View Profile", current_user.username %></li>
            <li><%= link_to "Edit Profile", edit_path %></li>
            <li class="divider"></li>
            <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
          </ul>
        </li>
      </ul>
      <% else %>
        <li><%= link_to "Sign in", sign_in_path %></li>
      </ul>
      <% end %>
    </div>

    <% flash.each do |type, msg| %>
      <%= content_tag :div, class: "alert #{flash_class(type)} alert-dismissable" do %>
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= msg %>
      <% end %>
    <% end %>
    

    <%= yield %>

    <%= debug(params) if Rails.env.development? %>
  </div>
  <%= include_markdown_preview_if_needed %>
</body>
</html>
